.eua {
	background-image: url('../img/eua.png');
}

.mexico {
	background-image: url('../img/mexico.png');
}

.canada {
	background-image: url('../img/canada.png');
}

.honduras {
	background-image: url('../img/honduras.png');
}

.brazil {
	background-image: url('../img/brazil.png');
}

.argentina {
	background-image: url('../img/argentina.png');
}

.chile {
	background-image: url('../img/chile.png');
}

.colombia {
	background-image: url('../img/colombia.png');
}

.germany {
	background-image: url('../img/germany.png');
}

.uk {
	background-image: url('../img/uk.png');
}

.italy {
	background-image: url('../img/italy.png');	
}

.france {
	background-image: url('../img/france.png');
}

.kenya {
	background-image: url('../img/kenya.png');
}

.nigeria {
	background-image: url('../img/nigeria.png');
}

.southafrica {
	background-image: url('../img/southafrica.png');
}

.egypt {
	background-image: url('../img/egypt.png');
}

.china {
	background-image: url('../img/china.png');
}

.india {
	background-image: url('../img/india.png');
}

.russia {
	background-image: url('../img/russia.png');
}

.philippines {
	background-image: url('../img/philippines.png');
}