*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  height: 100%;
  width: 100%;
}

body {
	font-family: 'Ubuntu', sans-serif;
 	margin: unset;
	background-color: #dbdbdb;

	height: 100%;
  	width: 100%;
}

ul {
	list-style: none;
	margin: unset;
}

footer {
	height: 150px;
}

.light-orange {
	color: #FFC93C  !important;
}

.mid-orange {
	color: #FF9A3C  !important;
}

.orange {
	color: #FF6F3C  !important;
}

.navy-blue {
	color: #155263 !important;
}

.nav {
	display: flex;
	min-height: 50px;
	background-color: #FFC93C;

	color: #155263;

	-webkit-box-shadow: 0px 10px 20px -3px rgba(58,58,58,0.5);
	-moz-box-shadow: 0px 10px 20px -3px rgba(58,58,58,0.5);
	box-shadow: 0px 10px 20px -3px rgba(58,58,58,0.5);
}

.nav-logo {
	padding: 25px;
	font-size: 50px;

	color: #FF6F3C;
}

.nav-item {
	padding: 40px;
	font-size: 20px;
	font-weight: bolder;
}

.first {
	margin-left: auto;
}

.last {
	margin-right: auto;
}

.flex-box {
	display: flex;
}

.width-10 {
	width: 10%;
}

.width-25 {
	width: 25%;
}

.width-30 {
	width: 30%;
}

.width-40 {
	width: 40%;
}

.width-50 {
	width: 50%;
}

.width-60 {
	width: 60%;
}

.width-70 {
	width: 70%;
}

.width-100 {
	width: 100%;
}

.height-25 {
	height: 25%;
}

.margin-top-15 {
	padding-top: 15vh;
}

.card-country {
	height: 75px;
	margin: 10px 20px;
	background-color: #f9f9f9;
	border-radius: 5px;
	display: flex;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.card-name {
	margin: unset;
	margin-top: 20px;
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
	color: #FF6F3C; 
}

.card-flag {
	height: 100%;
	width: 100%;
	background-size: auto 100px;
	background-repeat: no-repeat;

	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.card-button {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	font-size: 20px;
	font-weight: bolder;
	margin-left: 20px;
	margin-top: 25px;
	background-color: transparent;
	color: #155263;
	border: 3px solid  #155263;
}

.card-header {
	padding-top: 20px;
	margin: 20px;
	min-height: 55vh;
	border-radius: 5px;
	color: #0d3642;
	background-image: url('../img/header-img.jpg');
}

.header-title {
	font-size: 135px;
	font-weight: bolder;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 15px;

	font-family: 'Neucha', cursive;

}

.header-subtitle {
	font-size: 35px;
	text-align: center;
}

.header-img {
	max-width: 50%;
}

.card-title {
	margin-top: 10px;
	margin-bottom: 10px;

	padding: 5px;

	font-size: 60px;
	font-weight: bolder;

	color: #155263;
}

.card-text {
	margin-top: 10px;
	margin-bottom: 10px;

	padding: 5px;

	font-size: 20px;	

	color: #FF6F3C;
}


